configuration {
  modi: "drun,run";
  theme: "sidebar";
  font: "Iosevka 12";
  show-icons: true;
}

* {
  background: #1e222a;
  foreground: #c0caf5;
  selected-background: #5e81ac;
  selected-foreground: #ffffff;
}
